<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="EmailToAdminForPensionListAlert" value="4F4A480A-8EAD-483B-AF78-DE9F4DF8ED43"/>
    <add key="AlertContractProbationRefId" value="5851F787-CC98-41F4-A458-C6436DC21583"/>
    <add key="EmailToEmployeeNSuperiorForContractProbationAlert" value="B4C0233E-4E4E-4E7F-A3BC-B83D2B075F6A"/>
    <add key="EmailToAdminForMasaBaktiListAlert" value="6E2D44EA-469E-4972-B8B5-DA1CB8EEE609"/>
    <add key="EmailToEmployeeForHBD" value="7572461C-A5A8-44DB-BE05-05DBC8D89C0B"/>
    <!--<add key="EmailCCToEmployeeForHBD" value="test1@localhost.net"/>-->
    <add key="EmailToEmployeeForAnniversary" value="8953E276-D166-49EA-A059-97EE1768D8E3"/>
    <!--<add key="EmailCCToEmployeeForAnniversary" value="test1@localhost.net"/>-->
    <add key="AlertContractAfter2Month" value="60"/>
    <add key="EmailToEmployeeNSuperiorForContractProbationAlert2" value="B4C0233E-4E4E-4E7F-A3BC-B83D2B075F6A"/>
    <add key="EmailToEmployeeNSuperiorForContractProbationAlert2B" value="B4C0233E-4E4E-4E7F-A3BC-B83D2B075F6A"/>
  </appSettings>
</configuration>
