<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="EmailToEmployeeForHBD" value="7572461C-A5A8-44DB-BE05-05DBC8D89C0B"/>
    <!--<add key="EmailCCToEmployeeForHBD" value="test1@localhost.net"/>-->
    <!--<add key="EmailTemplateCCToEmployeeForHBD" value="7572461C-A5A8-44DB-BE05-05DBC8D89C0B"/>-->
    <add key="EmailToEmployeeForAnniversary" value="8953E276-D166-49EA-A059-97EE1768D8E3"/>
    <!--<add key="EmailCCToEmployeeForAnniversary" value="test1@localhost.net"/>-->
    <!--<add key="EmailTemplateCCToEmployeeForAnniversary" value="7572461C-A5A8-44DB-BE05-05DBC8D89C0B"/>-->
  </appSettings>
</configuration>
